.bundle
.env
.env.local
.env.production
.ruby-version
config/database.yml
db/*.sqlite3*
log/*.log
tmp/*
tmp/**/*
public/system/
public/assets/
index
*.swp
rerun.txt
.sass-cache/
.idea/
.redcar/
bundler/
cache/
gems/
specifications/
vendor/bundle/
*~
.vagrant
doc/
tags
config/deploy/production.rb
.DS_Store
