<p>
  Hello <%= @first_name %>,
</p>
<p>
  We have received your invite request and we would like to invite you to the next edition of the IFF, held in Valencia, April 1 - 5,</br>
  and we would like to see you there!
</p>
<p>
  This email doesn’t guarantee your ticket:
</p>
<p>
  Please follow the invitation link below to get your 2019 IFF Ticket and send out your invites!
</p>
<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  Make sure to get your ticket and share your invites as soon as possible.</br>
  Last year we ran out in just four weeks!
</p>
<p>
  Lots of love,
</p>
<p>
  The IFF Team
</p>
<p>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a></br>
  0xF60A89AD6FF97A2F
</p>











Lots of love,
The IFF Team

team@internetfreedomfestival.org
0xF60A89AD6FF97A2F
