<p>
  Hi <%= @first_name %>,
</p>

<p>
  Your request has been accepted!
</p>

<p>
  To accept your invite and claim your 2019 IFF Ticket, follow the link below!
</p>

<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>

<p>
  Make sure to get your ticket and as soon as possible. Last year we ran out in just four weeks!
</p>

<p>
  Lots of love,
</p>

<p>
  The IFF Team
</p>

<p>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  <br/>
  0xF60A89AD6FF97A2F
</p>
