<p>
  Hi,
</p>

<p>
  <%= @first_name %> sent you an invite to claim a 2019 Internet Freedom Festival Ticket.
</p>

<p>
  Please note that this email does not guarantee you a ticket! To claim your ticket, please complete the IFF Ticket form following the link below.
</p>

<p>
  If this is your first time attending the IFF, you must register on the IFF Community Platform using this email address **BEFORE** you claim your ticket. If you are already registered, but using a different email address, or if you wish to change the email address associated with your account, please contact us at <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>.
</p>

<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>

<p>
  Last year we ran out of space in only four weeks, so please claim your IFF Ticket before we hit capacity!
</p>

<p>
  We are Looking forward to celebrating the 5th anniversary of the Internet Freedom Festival with you!
</p>

<p>
  Lots of glitter,
</p>

<p>
  The IFF Team
</p>

<p>
  <%= @conference.alt_title %>: Valencia (Spain), April 1 - 5
  <br/>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  <br/>
  0xF60A89AD6FF97A2F
</p>
