<p>
  Hi,
</p>
<p>
  <%= @first_name %> sent you a ticket to join us at the 5th Internet Freedom Festival in Valencia (Spain), April 1 - 5, 2019!
</p>
<p>
  This email doesn’t guarantee your ticket: to claim your ticket, you must click on the link below and follow the instructions! Please note, if you do not claim your ticket in a timely manner, it will be given to someone else.
</p>
<p>
  If this is your first time attending the IFF, you will also be asked to register on the IFF Community Platform.
</p>
<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  Make sure to get your ticket and as soon as possible. Last year we ran out in just four weeks!
</p>
<p>
  Lots of glitter,
</p>
<p>
  The IFF Team
</p>
<p>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  </br>
  0xF60A89AD6FF97A2F
</p>
