<p>
  Hi,
</p>
<p>
  <%= @first_name %> sent you an invite to join us at the 5th Internet Freedom Festival in Valencia
  (Spain), April 1 - 5, 2019!
</p>
<p>
  This email doesn’t guarantee your ticket: To accept your invite and get your 2019 IFF Ticket,
  please follow the link below!
</p>
<p>
  If it’s your first time, you will be asked to register on the IFF Community Platform.
</p>
<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  Make sure to get your ticket and as soon as possible. Last year we ran out in just four
  weeks!
</p>
<p>
  Lots of love,
</p>
<p>
  The IFF Team </br>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a></br>
  0xF60A89AD6FF97A2F</br>
</p>
