<p>
  Hello, <strong><%= @person.public_name %></strong>!
</p>
<p>
  We are happy to inform you that we are launching a new edition of the Internet Freedom
  Festival!<br/>
  We are organising a week of events, conferences and sessions, beginning on April 1st.
  We will be presenting a big variety of topics and quite a number of presenters, so we are
  sure there will be something of interest for everyone.
</p>
<p>
  We have reviewed your profile and we believe you would be a great fit for this edition of IFF
  and therefore would love for you to be able to participate!<br/>
  Please follow the link below to register for the conference:
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  If you have any questions regarding this edition of the IFF, we invite you to contact us!<br/>
  If you are not able to attend the festival, please cancel in time, as we have a limited number
  of tickets, and would love for them all to be used!
</p>
<p>
  Sincerily,<br/>
  IFF Team
</p>
