<p>
  Hello <%= @first_name %>,
</p>
<p>
  We would like to invite you to attend the Internet Freedom Festival, which will happen in Valencia, Spain on April 1-5, 2019. Please follow the directions below to secure your ticket!
</p>
<p>
  In addition, we believe that you know other interesting folks that should join us. Therefore your invitation comes with three invites that you can share with your person(s) of choice.
</p>
<p>
  To secure your IFF 2019 ticket and send out your invites, please follow the following invitation link below.
  <br/>
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  Do this as soon as possible, as last year we reached capacity in four weeks! We look forward to seeing you soon!!
</p>
<p>
  Lots of love,
</p>
<p>
  The IFF Team
</p>
<p>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a><br/>
  0xF60A89AD6FF97A2F
</p>
