<p>
  Hello friend!
</p>

<p>
  This is your official invite to claim a 2019 Internet Freedom Festival Ticket.
</p>

<p>
  Please note that this email does not guarantee you a ticket! To claim your ticket, please follow the link below and complete the IFF Ticket form.
</p>

<p>
  If this is your first time attending the IFF, you must register on the IFF Community Platform using this email address **BEFORE** you can claim your ticket.
</p>

<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>

<p>
  If you are already registered, but are now using a different email address, or if you wish to change the email address associated with your account, please contact us at <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>.
</p>

<p>
  We believe that you know other interesting folks who should join us at the IFF, so we’re providing you with 5 IFF Ticket invites to share with whomever you want. These invites are very valuable! Those you invite will be able to claim their IFF Ticket right away, without having to wait for ticket request approval.
</p>

<p>
 Please send out your invites as soon as possible from your User Portal on the IFF Community Platform: <a href="https://platform.internetfreedomfestival.org/en/IFF2019/cfp">https://platform.internetfreedomfestival.org/en/IFF2019/cfp</a>
</p>

<p>
  Once your invites are sent, they will receive an email with detailed instructions on how to claim their ticket.
</p>

<p>
  Last year we ran out of space in only four weeks, so please claim your IFF Ticket and send out your invites before we hit capacity!
</p>

<p>
  We are looking forward to celebrating the 5th anniversary of the Internet Freedom Festival with you!
</p>

<p>
  Lots of glitter,
</p>

<p>
  The IFF Team
</p>

<p>
  2019 IFF: Valencia (Spain), April 1 - 5
  <br/>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  <br/>
  0xF60A89AD6FF97A2F
</p>
