<p>
  Hello,
</p>

<p>
  The Internet Freedom Festival will be back in Valencia, April 1 - 5, and we would like to see you there!
</p>

<p>
  We also believe that you know other interesting folks that should also be joining us. Therefore, we are giving you three invites to share with them!
</p>

<p>
  Before accessing your invitations you must register on the platform in this link:
</p>

<p>
  <a href="https://platform.internetfreedomfestival.org/en/session/new?conference_acronym=IFF2019"</a>
</p>

<p>
  This email doesn’t guarantee your ticket: Please follow the invitation link below to get your 2019 IFF Ticket and send out your invites!
</p>

<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>

<p>
  Make sure to get your ticket and share your invites as soon as possible. Last year we ran out in just four weeks!
</p>

<p>
  Lots of love,</br>
  The IFF Team </br>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a></br>
  0xF60A89AD6FF97A2F</br>
</p>
