<p>
  Hello <%= @first_name %>,
</p>

<p>
  Your request to get an IFF Ticket is now on hold, as the team reviews the current pool of participants to ensure a balanced representation of groups and regions at the event.
</p>

<p>
  This status is contingent on the attendee pool, and requests will be granted in submission order. You will receive a notification when the status of your application changes.
</p>

<p>
  Lots of glitter,
</p>

<p>
  The IFF Team
</p>

<p>
  2019 IFF: Valencia (Spain), April 1 - 5
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  <br/>
  0xF60A89AD6FF97A2F
</p>
