<p>
  Hi <%= @first_name %>,
</p>
<p>
  Thank you for requesting a ticket for the 2019 IFF.
</p>
<p>
  It may take some time before we get back to you.
</p>
<p>
  Please note that not all requests will be granted an invite.
</p>
<p>
  Lots of love,
</p>
<p>
  The IFF Team
</p>
<p>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a></br>
  0xF60A89AD6FF97A2F
</p>
