%section{style: "margin: 20px"}
  .page-header
    - if FeatureToggle.self_sessions_enabled?
      %h1 Self-Organized Sessions
    - else
      %h1=t("cfp.create_cfp")
  .row
    .span16
      = render 'form'
