<p>
  Dear friend,
</p>
<p>
  Your session <%= @session_title %> was successfully submitted.
</p>
<p>
  Thank you for your interest in presenting at the 2019 IFF.
</p>
<p>
  You can edit your session and add/remove other speakers visiting your user portal:
</p>
<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>
<p>
  Sit tight!</br>
  Sessions will be under review during the next four to five weeks.
</p>
<p>
  Good luck!
</p>
<p>
  The IFF Team
</p>
<p>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a></br>
  0xF60A89AD6FF97A2F
</p>
