<p>
  Dear <%= @first_name %>,
</p>

<p>
  Your IFF session "<%= @title %>" couldn’t be included in the final program. We wish we could accommodate all the amazing voices and ideas we get such as yours, but this year we received over 600 submissions.
</p>

<p>
  Every submission is equally important to us and plays such an intrinsic part in helping us understand the current interests of the community. We want to to send you a big thank you for being an active part of this accomplishment.
</p>

<p>
  Just so you know, only about 20% of the total submissions made it to the final program! But we know you were looking forward to present, so here’s an alternative: At the IFF, we will have additional space available for hosting self-organized sessions. Instructions for hosting self-organized sessions will be shared as we get closer to the date. We encourage you to keep this opportunity in mind and book a slot to present at the self-organized space during the IFF.
</p>

<p>
  **Important**
</p>

<p>
  We really want to see you in Valencia, but if your attendance was tied to your presentation, please share the love and let us know as soon as possible, so we can provide your spot to somebody in the waitlist.
</p>

<p>
  Again, thank you very much for co-creating the IFF with us.
</p>

<p>
  With much glitter!
</p>

<p>
  The IFF Team
</p>

<p>
  <%= @conference.alt_title %>: Valencia (Spain), April 1 - 5
  <br/>
  <a href="mailto:team@internetfreedomfestival.org">team@internetfreedomfestival.org</a>
  <br/>
  0xF60A89AD6FF97A2F
</p>
