form .form-group  {
  margin-bottom: 48px;
  position: relative;
}

.form-label {
  border-left: 3px solid black;
  display: inline-block;
}

.has-error > .form-label {
  background-color: #ffbabb;
}

.form-label > label {
  float: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin-left: 4px;
}

.form-required__text {
  font-size: 12px;
  position: absolute;
  left: 0rem;
  bottom: -1.5rem;
  color: grey;
}

.form-help {
  width: 40rem;
  margin-top: 10px;
}

.form-help__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 450;
}

.form-input {
  margin-top: 24px;
}

.form-input__error {
  margin-left: 16px;
  margin-right: 3px;
}

.form-p {
  font-size: 14px;
  width: 48rem;
  color: black;
  line-height: 24px;
}

.form-ul {
  width: 48rem;
  margin-left: 3rem;
}

.form-li {
  font-size: 14px;
  color: black;
  font-family: inherit;
  line-height: 37px;
}

.charge-title {
  border-left: 3px solid black;
  display: inline-block;
}

.charge-title p {
  font-size: 26px;
  margin-left: 4px;
  margin-top: 6px;
}

.charge-row {
  border: 2px solid black;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #4544f8;
  margin-bottom: 5px;
  height: 50px;
}

.charge-row p {
  color: white;
  font-weight: bold;
  margin: 15px;
  font-size: 14px;
}

.charge-row-row {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #f4f0fc;
  margin-bottom: 5px;
  height: 50px;
}

.charge-row-row p {
  color: black;
  font-weight: bold;
  margin: 15px;
  font-size: 14px;
}

.charge-row-row span {
  font-weight: normal;
}

.day-boxes {
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}
