.info-row {
  color: red;
}

.page-footer__registration {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
