%section
  .page-header
    %h1 Available Reports
    - if can? :manage, :all
      %h3
        = link_to "Download CSV of All Stats", statistics_all_stats_path(format: "csv")
  = render 'report_menu'
