%section
  .page-header
    %h1{:style => "text-align: center"}=t("cfp.personal_details_headline")
  .row
    .span16
      -if !@person.valid? || @person.public_name == @person.email
        %h2{:style => "color: red; text-align: center"}=t("cfp.personal_details_minimum")
  .row
    .span16
      %p=t("cfp.personal_details_description")
      = render 'form'