%section{style: "margin: 20px"}
  .page-header
    %h1= t("cfp.edit_registration")
  -if @person.public_name == @person.email
    .row
      .span16
        %h3{:style => "color: red; text-align: center"}= t("cfp.personal_details_minimum")
  .row
    .span16
      = render 'form'
